.navbar {
    margin-bottom: 0;
    background-color: #5a5a5a;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    height:70px;
    padding-top:10px
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #5a5a5a !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #5a5a5a !important;
    background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }